@using Localization;
@{
    ViewBag.Title = Lang.TransferInitiate;
}
@section styles{
    <style type="text/css">
    </style>
}
@section scripts{
    @Scripts.Render("~/bundles/common")
    <script src="~/Scripts/jquery.serializeJSON.min.js"></script>
    <script type="text/javascript">
        var URL_PAGELIST = "/Transfer/WaitPageList"
        var URL_PUBLISH = "/Transfer/Initiate"
        var singleSelect = true;
    </script>
    <script src="~/Scripts/views/transfer/index.js"></script>
}
<div class="easyui-layout" data-options="fit:true">
    <div id="toolbar" style="padding:5px;">
        <form id="queryFrm">
            <span>@Lang.ProjectName：</span>
            <input type="text" name="Project_Name" class="easyui-textbox" />
            <span>@Lang.ProductCode：</span>
            <input type="text" name="Product_Code" class="easyui-textbox" />
            <label>
                <input type="checkbox" checked="checked" name="singleSelect" onchange="multiSelectSwitch(this.checked)" style="vertical-align:middle" />
                <span style="vertical-align:middle">单选</span>
            </label>
            <a href="#" class="easyui-linkbutton" onclick="query()" data-options="iconCls:'icon-search'">@Lang.Find</a>
            <a href="#" class="easyui-linkbutton" onclick="productReleaseMaintenance()" data-options="iconCls:'icon-edit'">@Lang.ProductReleaseMaintenance</a>
            <a href="#" class="easyui-linkbutton" onclick="transferInitiate()" data-options="iconCls:'icon-ok'">@Lang.TransferInitiate</a>
        </form>
    </div>
    <table id="dgProducts">
    </table>
</div>

<div id="dlgProdVerCreate">
    <form id="frmProdVerCreate">
        <table class="table table-striped">
            <tr>
                <th colspan="2">
                    产品尚未创建版本，请先新建版本
                </th>
            </tr>
            <tr>
                <th>版本名称：</th>
                <td>
                    <input type="text" id="txtName" name="name" class="easyui-textbox" required />
                </td>
            </tr>
            <tr>
                <th>版本描述：</th>
                <td>
                    <input type="text" id="txtDesc" name="desc" class="easyui-textbox" required />
                </td>
            </tr>
        </table>
    </form>
    <div id="dlgCreateProdVerFooter" class="text-right">
        <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="createProdVerConfirm()">新建</a>
        <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="$('#dlgProdVerCreate').dialog('close')">关闭</a>
    </div>
</div>