@using Localization;
@{
    ViewBag.Title = Lang.TransferInitiate;
}
@section styles{
    <style type="text/css">
    </style>
}
@section scripts{
    @Scripts.Render("~/bundles/common")
    <script src="~/Scripts/jquery.serializeJSON.min.js"></script>
    <script type="text/javascript">
        var URL_PAGELIST = "/Transfer/WaitPageList"
        var URL_PUBLISH = "/Transfer/Initiate"
        var singleSelect = false;
    </script>
    <script src="~/Scripts/views/transfer/index.js"></script>
}
<div class="easyui-layout" data-options="fit:true">
    <div id="toolbar" style="padding:5px;">
        <form id="queryFrm">
            <span>@Lang.ProjectName：</span>
            <input type="text" name="Project_Name" class="easyui-textbox" />
            <span>@Lang.ProductCode：</span>
            <input type="text" name="Product_Code" class="easyui-textbox" />
            <a href="#" class="easyui-linkbutton" onclick="query()" data-options="iconCls:'icon-search'">@Lang.Find</a>
            <a href="#" class="easyui-linkbutton" onclick="queryDefault()" data-options="iconCls:'icon-search'">@Lang.Default</a>
            <a href="#" class="easyui-linkbutton" onclick="productReleaseMaintenance()" data-options="iconCls:'icon-edit'">@Lang.ProductReleaseMaintenance</a>
            <a href="#" class="easyui-linkbutton" onclick="transferInitiate()" data-options="iconCls:'icon-ok'">@Lang.TransferInitiate</a>
        </form>
    </div>
    <table id="dgProducts">
    </table>
</div>