@using Localization;
@{
    ViewBag.Title = Lang.GroupIndex;
}
@section scripts{
    <script src="~/Scripts/jquery.serializeJSON.min.js"></script>
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/groupindex")
}
@section styles{
    <style>
        .tree-folder {
            background: url('/Content/icons/organization.png') no-repeat center center;
        }

        .tree-file {
            background-image: url('/Content/icons/user.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 13px 17px;
        }

    </style>
}
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north', border: false" style="padding: 5px;background-color:#efefef">
        <a href="#" class="easyui-linkbutton" onclick="openAddUserDialog()" data-options="iconCls:'icon-add'">@Lang.GroupAddUsers</a>
        <a href="#" class="easyui-linkbutton" onclick="delUserFromGroup()" data-options="iconCls:'icon-remove'">@Lang.GroupDeleteUsers</a>
        <a href="#" class="easyui-linkbutton" onclick="refreshGroup()" data-options="iconCls:'icon-reload'">@Lang.GroupRefresh</a>
        <a href="#" class="easyui-linkbutton" onclick="refreshGroupUser()" data-options="iconCls:'icon-reload'">@Lang.GroupRefreshUsers</a>
    </div>
    <div data-options="region:'center',border:false">
        <div id="dgGroup">
        </div>
    </div>
    <div data-options="region:'east',border:false" style="width:30%">
        <div id="dgGroupUser">
        </div>
    </div>
</div>


<div id="dlgUser">
    <div id="dlgUserToolbar" style="padding:5px">
        姓名：
        <input type="text" class="easyui-textbox" id="txtUsername" />
        <a href="#" class="easyui-linkbutton" onclick="searchByUsername()" data-options="iconCls:'icon-search'">查询</a>
        <a href="#" class="easyui-linkbutton" onclick="treeUser.tree('expandAll')">展开树</a>
        <a href="#" class="easyui-linkbutton" onclick="treeUser.tree('collapseAll')">收起树</a>
    </div>
    <div id="treeUser">
    </div>
    <div id="dlgUserFooter" class="text-right">
        <a href="#" class="easyui-linkbutton" onclick="dlgUserConfirm()" data-options="iconCls:'icon-ok'">@Lang.Confirm</a>
        <a href="#" class="easyui-linkbutton" onclick="dlgUser.dialog('close')" data-options="iconCls:'icon-cancel'">@Lang.CloseDialog</a>
    </div>
</div>