@using Localization;
@model Repository.ViewProjectProductPbom
@{
    Layout = null;
}
<div id="panelbox" class="easyui-layout" style="padding:5px;font-size:14px;">
    <table class="table table-bordered">
        <tr>
            <th>@Lang.ProjectCode：</th>
            <td>@Model.CODE</td>
            <th>@Lang.ProjectName：</th>
            <td>@Model.PROJECT_NAME</td>
        </tr>
        <tr>
            <th>@Lang.ProductCode：</th>
            <td>@Model.PRODUCT_CODE</td>
            <th>@Lang.ProductName：</th>
            <td>@Model.PRODUCT_CODE</td>
        </tr>
        <tr>
            <th>@Lang.CurrentTableDate3：</th>
            <td>@Model.PBOMVER_DT</td>
            <th>@Lang.CurrentTableVersion3：</th>
            <td>@Model.PBOMVER</td>
        </tr>
        <tr>
            <th>@Lang.TableDesigner3：</th>
            <td colspan="3">@Model.PBOMVER_CREATE_NAME</td>
        </tr>
        <tr class="active">
            <td colspan="4"></td>
        </tr>
        <tr>
            <th>@Lang.IsSaleSet：</th>
            <td colspan="3">@Model.SALE_SET</td>
        </tr>
        <tr>
            <th>@Lang.ProductCheckStatus：</th>
            <td colspan="3">@Model.CHECK_STATUS</td>
        </tr>
        <tr>
            <th>@Lang.ProductStatus：</th>
            <td colspan="3">@Model.PRODUCT_STATUS</td>
        </tr>
    </table>
</div>

