@using Localization;
@{
    ViewBag.Title = Lang.MBOMProductChangeIndex;
}
@section scripts{
    <script src="~/Scripts/jquery.serializeJSON.min.js"></script>
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/changeindex")
}
<div class="easyui-layout" data-options="fit:true">
    <div id="toolbar" style="padding:5px;">
        <form id="queryFrm">
            <span>@Lang.ProjectName：</span>
            <input type="text" name="Project_Name" class="easyui-textbox" />
            <span>@Lang.ProductCode：</span>
            <input type="text" name="Product_Code" class="easyui-textbox" />
            <label>
                <input type="checkbox" checked="checked" name="singleSelect" onchange="multiSelectSwitch(this.checked)" style="vertical-align:middle" />
                <span style="vertical-align:middle">单选</span>
            </label>
            <a href="#" class="easyui-linkbutton" onclick="query()" data-options="iconCls:'icon-search'">@Lang.Find</a>
            <a href="#" class="easyui-linkbutton" onclick="createMbomVer()" data-options="iconCls:'icon-add'">@Lang.CreateVer</a>
            <a href="#" class="easyui-linkbutton" onclick="publishMaintenance()" data-options="iconCls:'icon-edit'">@Lang.MBOMChangeMaintenance</a>
            <a href="#" class="easyui-linkbutton" onclick="publish()" data-options="iconCls:'icon-ok'">@Lang.MBOMPublish</a>
        </form>
    </div>
    <table id="dgProducts"></table>
</div>

<div id="dlgCreateMBOMVer">
    <form id="frmCreateMbomVer">
        <table class="table table-striped">
            <tr>
                <th>版本号：</th>
                <td>
                    <input type="text" id="txtVer" class="easyui-textbox" required />
                </td>
            </tr>
            <tr>
                <th>生效日期：</th>
                <td>
                    <input class="easyui-datebox" id="txtEfDate" data-options="value:'new Date().format(\'yyyy-MM-dd\')',validType:['validDate']" required>
                </td>
            </tr>
            <tr>
                <th>失效日期：</th>
                <td>
                    <input class="easyui-datebox" id="txtExDate" data-options="value:'2100-01-01',validType:['validDate','greaterThan[\'#txtEfDate\']']" required>
                </td>
            </tr>
            <tr>
                <th>版本描述：</th>
                <td>
                    <input type="text" id="txtDesc" class="easyui-textbox" />
                </td>
            </tr>
        </table>
    </form>
    <div id="dlgCreateMBOMVerFooter" class="text-right">
        <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="createMbomVerConfirm()">确认</a>
        <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="$('#dlgCreateMBOMVer').dialog('close')">关闭</a>
    </div>
</div>
