@using Localization;
@model Repository.AppProduct
@{
    ViewBag.Title = Lang.IntegrityCheck;
}
<div style="padding:10px;">
    <table class="table table-bordered">
        <caption>
            <h3 class="text-left">@Lang.IntegrityCheckStatus</h3>
        </caption>
        <tr>
            <th class="col-sm-3">@Lang.ProductCode：</th>
            <td>@Model.CN_ITEM_CODE</td>
        </tr>
        <tr>
            <th>@Lang.ProductName：</th>
            <td>@Model.CN_NAME</td>
        </tr>
        <tr>
            <th>@Lang.ProductCheckStatus：</th>
            <td>@Model.CN_CHECK_STATUS</td>
        </tr>
        <tr>
            <th>@Lang.ProductStatus：</th>
            <td>@Model.CN_STATUS</td>
        </tr>
    </table>
</div>