@using Localization;
@{
    ViewBag.Title = Lang.ItemHlinkSetIndex;
}
@section scripts{
    <script src="~/Scripts/jquery.serializeJSON.min.js"></script>
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/itemhlinksetindex")
}
<div class="easyui-layout" data-options="fit:true">
    <div id="toolbar" style="padding:5px;">
        <form id="queryFrm">
            <span>@Lang.ItemName：</span>
            <input type="text" name="name" class="easyui-textbox" data-options="width:120" />
            <span>@Lang.Code：</span>
            <input type="text" name="code" class="easyui-textbox" data-options="width:120" />
            <span>@Lang.ItemCode：</span>
            <input type="text" name="itemcode" class="easyui-textbox" data-options="width:120" />
            <a href="#" class="easyui-linkbutton" onclick="query()" data-options="iconCls:'icon-search'">@Lang.Find</a>
            <a href="#" class="easyui-linkbutton" onclick="queryAll()" data-options="iconCls:'icon-search'">@Lang.FindAll</a>
            <a href="#" class="easyui-linkbutton" onclick="setItemType()" data-options="iconCls:'icon-edit'">分类标识设置...</a>
        </form>
    </div>
    <table id="dg"></table>
</div>


<div id="dlg">
    <table class="table table-striped">
        <tr>
            <th>设置分类：</th>
            <td>
                <select id="cboType">
                    <option value="3">自制件</option>
                    <option value="2">采购件</option>
                </select>
            </td>
        </tr>
    </table>
    <div id="dlgFooter" class="text-right">
        <a href="#" class="easyui-linkbutton" onclick="confirm()" data-options="iconCls:'icon-ok'">设置</a>
        <a href="javascript:dlg.dialog('close');" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">取消</a>
    </div>
</div>