@using Localization;
@{
    ViewBag.Title = Lang.ProductPBomDetail;
}
@section styles{
    @Styles.Render("~/bundles/ztreecss")
}
@section scripts{
    <script type="text/javascript">
        var params = { code: "@Request.Params["code"]" };
    </script>
    <!-- jQuery Plugins -->
    <script src="~/Scripts/jquery.mask.js"></script>
    <!-- custom js -->
    @Scripts.Render("~/bundles/common")
    <!-- zTree -->
    @Scripts.Render("~/bundles/ztree")
    @Scripts.Render("~/bundles/productmbom")
}
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'west',border:false" style="width:35%">
        <!-- MBOM版本 -->
        <table id="dgMBomVer"></table>
    </div>
    <div data-options="region:'center',border:false" style="border-style: solid;border-width:0 0 0 1px;border-color:#D4D4D4;">
        <!-- MBOM详情 -->
        <div id="pnl" class="easyui-panel" data-options="title:'@Lang.MBOMList',fit:true,border:false"></div>
    </div>
</div>