@using Localization;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/fonts")
    @Styles.Render("~/bundles/easyui")
    <script src="~/Scripts/easyui/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui/locale/easyui-lang-zh_CN.js"></script>
    <title>@ViewBag.Title - @Lang.CompanyName</title>
    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>