@using Localization;
@model Repository.ViewProjectProductPbom
@{
    Layout = null;
}
<div id="panelbox" class="easyui-layout" style="padding:5px;font-size:14px;">
    <table class="table table-bordered">
        <tr>
            <th>@Lang.ProjectCode：</th>
            <td>@Model.CODE</td>
            <th>@Lang.ProjectName：</th>
            <td>@Model.PROJECT_NAME</td>
        </tr>
        <tr>
            <th>@Lang.ProductName：</th>
            <td colspan="3">@Model.PRODUCT_NAME</td>
        </tr>
        <tr>
            <th>@Lang.ProductCode：</th>
            <td>@Model.PRODUCT_CODE</td>
            <th>@Lang.ItemCode：</th>
            <td>@Model.PRODUCT_ITEM_CODE</td>
        </tr>
        <tr>
            <th>@Lang.CurrentTableDate3：</th>
            <td>@Model.PBOMVER_DT</td>
            <th>@Lang.CurrentTableVersion3：</th>
            <td>@Model.PBOMVER</td>
        </tr>
        <tr>
            <th>项目经理：</th>
            <td>@Model.OWNER_NAME</td>
            <th>@Lang.TableDesigner3：</th>
            <td>@Model.PBOMVER_CREATE_NAME</td>
        </tr>
        <tr>
            <td colspan="4"></td>
        </tr>
        <tr>
            <th>@Lang.IsSaleSet：</th>
            <td colspan="3">@Model.SALE_SET</td>
        </tr>
        <tr>
            <td colspan="4"></td>
        </tr>
        <tr>
            <th colspan="4">
                节点日志：
            </th>
        </tr>
        <tr @if (Model.DT_PDM == null) { <text>
            class="active"
            </text> }>
            <th>
                PDM接口日期：
            </th>
            <td colspan="3">@Model.DT_PDM</td>
        </tr>
        <tr @if (Model.DT_SELL == null) { <text>
            class="active"
            </text> }>
            <th>
                销售件设置日期：
            </th>
            <td>@Model.DT_SELL</td>
            <th>
                设置者：
            </th>
            <td>@Model.USER_SELL</td>
        </tr>
        <tr @if (Model.DT_PRE == null) { <text>
            class="active"
            </text> }>
            <th>
                预转批发起日期：
            </th>
            <td>@Model.DT_PRE</td>
            <th>
                发起者：
            </th>
            <td>@Model.USER_PRE</td>
        </tr>
        <tr @if (Model.DT_MBOM == null) { <text>
            class="active"
            </text> }>
            <th>
                MBOM发布日期：
            </th>
            <td>@Model.DT_MBOM</td>
            <th>
                发布者：
            </th>
            <td>@Model.USER_MBOM</td>
        </tr>
        <tr @if (Model.DT_DATA_INTE == null) { <text>
            class="active"
            </text> }>
            <th>
                转批中间表日期：
            </th>
            <td colspan="3">@Model.DT_DATA_INTE</td>
        </tr>
        <tr @if (Model.DT_DATA_MDM == null) { <text>
            class="active"
            </text> }>
            <th>
                转批MDM日期：
            </th>
            <td colspan="3">@Model.DT_DATA_MDM</td>
        </tr>
        <tr @if (Model.DT_DATA_ERP == null) { <text>
            class="active"
            </text> }>
            <th>
                转批ERP日期：
            </th>
            <td colspan="3">@Model.DT_DATA_ERP</td>
        </tr>
    </table>
</div>

