@using Localization;
@model Repository.AppItem
@{
    ViewBag.Title = Lang.PBOMList;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    @Styles.Render("~/bundles/css/jstree")
}
@section scripts{
    <script type="text/javascript">
        @if (Model!=null)
        {
        <text>
        var data = {
            ITEMID: @Model.CN_ID,
            NAME: "@Model.CN_NAME",
            CODE: "@Model.CN_CODE"
        };
        </text>
        }
        else
        {
        <text>
        var data = [];
        </text>
        }
    </script>
    <!-- import js -->
    <!-- zTree -->
    @Scripts.Render("~/bundles/js/jstree")
    <!-- page js -->
    <script src="~/Scripts/views/maintenance/bomparent.js"></script>
}
<div id="tree"></div>
