@using Localization;
@{
    ViewBag.Title = Lang.PBOMList;
}
@section styles{
    @Styles.Render("~/bundles/ztreecss")
    <style type="text/css">
        .ztree li span.button.switch.level0 {
            display: none;
        }
    </style>
}
@section scripts{
    <script type="text/javascript">
        var param = { prod_itemcode: "@Request.Params["prod_itemcode"]" };
    </script>
    <!-- import js -->
    @Scripts.Render("~/bundles/common")
    <!-- zTree -->
    @Scripts.Render("~/bundles/ztree")
    <!-- page js -->
    @Scripts.Render("~/bundles/pbom")
}
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'west',border:false" style="width:300px">
        <!-- PBOM版本 -->
        <table id="dgPbomVer"></table>
    </div>
    <div data-options="region:'center',border:false" style="border-style: solid;border-width:0 0 0 1px;border-color:#D4D4D4;">
        <!-- PBOM详细信息 -->
        <ul id="treeItems" class="ztree"></ul>
    </div>
</div>